<a routerLink="{{CurrentRental._id}}">
  <div class="card bwm-card">
    <img class="card-img-top" src="{{CurrentRental.image}}" alt="">
    <div class="card-block">
      <h6 class="card-subtitle {{CurrentRental.category}}">{{CurrentRental.shared ? "Shared": "Whole"}} &#183; {{CurrentRental.city}}</h6>
      <h4 class="card-title">{{CurrentRental.title}}</h4>
      <p class="card-text">{{CurrentRental.dailyRate}} per Night &#183; Free Cancelation</p>
      <a href="#" class="card-link">More Info</a>
    </div>
</div>
</a>